extends layout.pug

block content
        h1 Log An Ascent
        if user === undefined
            p NOT AUTHORIZED, please sign in :)
        else
            if ascent
                h2 NOTE! You have already logged an ascent of this climb, logging another will overwrite your current Ascent

            form(action="/Locations/"+climb.LocationID+"/Climb/"+climb.ID+"/LogAscent" method="post")
                legend Climb Info

                    fieldset
                        section
                            label(for="climbName") Climb Name:  
                            input(name="climbName" readonly="true" value =climb.Name)
                        section
                            label(for="numAttempts") Number of Attempts:   
                            input(name="numAttempts", type="number", min="0" required)
                        section    
                            label(for="numSessions") Number of Sessions: 
                            input(name="numSessions", type="number", min="0" required)
                        section     
                            label(for="notes") Notes: 
                            input(name="notes" type="text")
                        section
                            label(for="quality") Quality Rating (Out of 5):  
                            input(name="quality", type="number", min="0", max="5" placeholder="0-5" required)
                        section
                            label(for="gradeTaken") Grade Taken :  
                            input(name="gradeTaken", type="number", min="0", max="17" placeholder="0-17" required)
                        section     
                            label(for="date") Date: 
                            input(name="date" type="date")
                <button type="submit">Add </button>
                <a href="/">Cancel</a>

                if msg  
                    p #{msg}
